header {
  padding: 13px 0;
  z-index: 100;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.3);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 8px 9px;
      a {
        padding-right: 16px;

        color: var(--color-text, #2c2d2e);
        font-feature-settings: "clig" off, "liga" off;

        /* H3 */
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        transition: 0.4s;

        &:hover {
          color: #ef7c00;
        }

        &:first-child {
          position: relative;
        }

        &:last-child {
          padding-right: 0;
          border: 0;
        }
      }
      .brother {
        display: none;
        position: absolute;
        bottom: -120px;
        border-radius: 0px 0px 4px 4px;
        border: 1px solid var(--color-border, rgba(0, 16, 61, 0.12));
        background: var(--main-color-bg, #fff);
        z-index: -10;
        border-top: 0;
        transition: 0.5s;
        overflow: hidden;
        a {
          display: block;
          border: 0;
          padding: 8px 16px;
        }
      }
    }
    .language {
      p {
        color: #919399;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 153.846% */
        b {
          color: #ef7c00;
          text-align: center;
          font-family: Montserrat;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 153.846% */
        }
      }
    }
  }
  @media only screen and (max-width: 1050px) {
    nav {
      .links {
        display: none;
      }
    }
  }
}
